<?xml version="1.0" encoding="UTF-8"?>
<!-- DTD문, 표준 xml 태그를 사용하기 위해 선언 -->
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	id="WebApp_ID" version="3.1">
	<display-name>JspStudy_200221</display-name>
	<!-- welcome-file-list 메인페이지 지정시 사용하는 태그 -->
	<!-- welcome-file로 메인페이지를 찾을 순서를 지정함 -->
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>HelloTest.java</welcome-file>
	</welcome-file-list>

	<!-- 서블릿 환경 설정(모델2, 스프링) -->
	<servlet>
		<servlet-name>HT</servlet-name>
		<servlet-class>HelloTest</servlet-class>
	</servlet>

	<!-- 서블릿 요청 방식 지정 -->
	<servlet-mapping>
		<servlet-name>HT</servlet-name>
		<url-pattern>/test/imsi/HelloTest</url-pattern>
	</servlet-mapping>
	
	<!-- 에러 처리 -->
<!-- 	<error-page>
		<error-code>404</error-code>
		<location>/error/404code.jsp</location>
	</error-page>
	<error-page>
		<error-code>500</error-code>
		<location>/error/500code.jsp</location>
	</error-page> -->
	
</web-app>